/* Aside navigation */

.aside-navigation
  .aside-navigation-box
    .aside-navigation-item
      = link_to publication_path(publication), class: "button white wide" do
        Show
    .aside-navigation-item
      = link_to preview_publication_path(publication), class: "button white wide" do
        Preview
    .aside-navigation-item
      = link_to preview_publication_path(publication, format: "json"), class: "button white wide", target: :blank do
        JSON Format

- if @passkey.role == "owner"
  .aside-navigation
    .aside-navigation-box
      .aside-navigation-item
        = link_to "Metadata", edit_publication_path(publication, main: true), class: "link blue"
      .aside-navigation-item
        = link_to "Cover", edit_publication_path(publication, cover: true), class: "link blue"
      .aside-navigation-item
        = link_to "Thumb", edit_publication_path(publication, thumb: true), class: "link blue"
