/* Form */

= form_with model: publication, local: true do |form|
  = form.hidden_field :user_id, value: current_user.id
  = errors(publication)
  %fieldset
    - if params[:action] == "new" || params[:action] == "create"
      .form-row
        %legend New Publication
    .form-row
      .field
        = form.label :title
        .input
          = form.text_field :title
    .form-row
      .field
        = form.label :description
        .textarea
          = form.text_area :description, class: "altai-autosize"
    .form-row
      .field
        .checkbox
          = form.check_box :published
          = form.label :published
    = submit_button(form, "Save")
