/* Form */

= form_with model: object, local: true do |form|
  = form.hidden_field :user_id, value: current_user.id
  = errors(object)
  %fieldset
    .form-row
      %legend Publication
    .form-row
      .field
        = form.label :title
        .input
          = form.text_field :title
    .form-row
      .field
        = form.label :description
        .textarea
          = form.text_area :description, class: "altai-autosize"
    .form-row
      .field
        .checkbox
          = form.check_box :published
          = form.label :published
    = submit_button(form, "Save")
