/* Publication */

.publication-block{ id: "publication_#{publication.id}" }
  .publication-wrap
    .publication-top
      = link_to "Sort Position", "#", class: "altai-off link extra-small handle"
      .text.extra-small.right.auto
        %strong Role:
        = @passkey.role
    .publication-middle
      = link_to publication_path(publication), class: "link blue" do
        = (publication.title).truncate(56)
    .publication-bottom
      .text.extra-small.left.auto
        %strong Created:
        = publication.created_at.strftime("%B %d, %Y")
      .text.extra-small.right.auto
        %strong Published:
        = publication.published?
