/* Edit */

.container-top
  .wrap.wide
    = breadcrumbs(publications_path)
    .primary-actions
      .primary-actions-box
        .primary-actions-item
          = link_to "Articles", publication_articles_path(@publication), class: "button blue"
  .wrap.wide
    .content
      .content-box
        .content-item
          %h2.lighter Publication
.container-middle
  .board-double-extra-small
    = render "aside_navigation", publication: @publication
  .board-medium
    - if @passkey.role == "owner"
      - if params[:main] == "true"
        = render "form", publication: @publication
      - elsif params[:cover] == "true"
        = render "cover", publication: @publication, resource: @publication.cover
      - elsif params[:thumb] == "true"
        = render "thumb", publication: @publication, resource: @publication.thumb
      - else
        = render "form", publication: @publication
.container-bottom
