%h1 Publications

%table
  %thead
    %tr
      %th User
      %th Title
      %th Description
      %th Published
      %th
      %th
      %th

  %tbody
    - @publications.each do |publication|
      %tr
        %td= publication.user
        %td= publication.title
        %td= publication.description
        %td= publication.published
        %td= link_to 'Show', publication
        %td= link_to 'Edit', edit_publication_path(publication)
        %td= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Publication', new_publication_path, class: "button extra-large green"
= link_to 'Back', publications_path
