/* Show */

.container-top
  = breadcrumbs(publication_path(@publication))
  // .primary-actions
  //   .primary-actions-box
  //     .primary-actions-item
  //       = link_to "Table of Contents", toc_publication_path(@publication), class: "button extra-large blue"
.container-middle
  .board-large.altai-center
    .content
      .content-box
        .content-item
          %h1= @publication.title
        - if @publication.description.presence
          .content-item
            %p= @publication.description
        - if @publication.cover.presence
          .content-item
            = image_tag url_for(@publication.cover), class: "altai-center"
    - if @articles.presence
      .preview
        .preview-box.sortable
          - @articles.each do |article|
            .preview-item
              %h3{ id: "#{article.slug}" }= article.title
.container-bottom
