/* Show */

.container-top
  .wrap.wide
    = breadcrumbs(publications_path)
    .primary-actions
      .primary-actions-box
        .primary-actions-item
          = link_to "Sections", publication_sections_path(@publication), class: "button blue"
        .primary-actions-item
          = link_to "Articles", publication_articles_path(@publication), class: "button blue"
  .wrap.wide
    .content
      .content-box
        .content-item
          %h3.lighter Publication
.container-middle
  .board-double-extra-small
    = render "aside_navigation", publication: @publication
  .board-medium
    .content
      .content-box
        - if @publication.title.presence
          .content-item
            %h1.lighter= @publication.title
        - if @publication.description.presence
          .content-item
            = @publication.description
    .content
      .content-box
        .content-item
          = danger_zone("Publication", publication_path(@publication))
.container-bottom
