/* Show */

.container-top
  = breadcrumbs(publications_path)
.container-middle
  .board-double-extra-small
    = render "aside_navigation", publication: @publication
  .board-medium
    .content
      .content-box
        - if @publication.title.presence
          .content-item
            %h3.lighter= @publication.title
        - if @publication.description.presence
          .content-item
            = @publication.description

    .primary-actions
      .primary-actions-box
        .primary-actions-item
          = link_to "Sections", publication_sections_path(@publication), class: "button blue"
.container-bottom
  = danger_zone("Publication", publication_path(@publication))
