/* Article */

.article-item{ id: "article_#{article.id}" }
  .article-top
    %p.left.auto
      %strong Published:
      = article.published?
    %p.right.auto
      %strong Agents:
      // = article.agents.count
  .article-middle
    .article-left
      = link_to "#", class: "altai-off link handle" do
        %span.icon
          = inline_svg "icons/swap_vert.svg"
    .article-center
      = link_to journal_article_path(journal, article), class: "link blue wide" do
        = article.title
  .article-bottom
    %p.small.left.auto
      %strong Created:
      = article.created_at.strftime("%B %d, %Y")
