/* Form */

= form_with model: [parent, object], local: true do |form|
  = errors(object)
  - if params[:action] == "new" || params[:action] == "create"
    = form.hidden_field :publication_id, value: @publication.id
  %fieldset
    .form-row
      %legend Article
    .form-row
      .field
        = form.label :title
        .input
          = form.text_field :title
    .form-row
      .field
        = form.label :description
        .textarea
          = form.text_area :description
    .form-row
      .field
        .checkbox
          = form.check_box :published
          = form.label :published
    = submit_button(form, "Save")
