/* Index */

.container-top
  = breadcrumbs(journal_path(@journal))
  .primary-actions
    .primary-actions-box
      .primary-actions-item
        = link_to "New Article", new_journal_article_path(@journal), class: "button purple"
.container-middle
  .board-medium.center-h
    .content
      .content-box
        .content-item
          = link_to journal_path(@journal), class: "link purple wide bold" do
            = @journal.title
          %h3.left.lighter Articles
    .article
      .article-box.sortable{ "data-url": sortable_journal_articles_path(@journal) }
        = render partial: "article", collection: @articles, locals: { journal: @journal }
.container-bottom
