/* Show */

.container-top
  .wrap.wide
    = breadcrumbs(journal_articles_path(@article.journal.slug))
  .wrap.wide
    .content
      .content-box
        .content-item
          %h2.lighter Article
.container-middle.center-h
  .board-double-extra-small
    = render "aside_navigation", article: @article
  .board-medium
    .content
      .content-box
        .content-item
          %h1.lighter= @article.title
    .agent
      .agent-box.sortable{ "data-url": sortable_journal_article_agents_path(@journal, @article) }
        - @assets.each do |asset|
          = render_agent(asset)
    .content
      .content-box
        .content-item
          = danger_zone("Article", journal_article_path(@journal, @article))
.container-bottom
