/* Show */

.container-top
  .wrap.wide
    = breadcrumbs(publication_articles_path(@article.publication.slug))
  .wrap.wide
    .content
      .content-box
        .content-item
          %h2.lighter Article
.container-middle.altai-center
  .board-double-extra-small
    = render "aside_navigation", article: @article
  .board-medium
    // = render "form", parent: @publication, object: @article
    .content
      .content-box
        .content-item
          %h1.lighter= @article.title
          = @article.id
          - if @article.union.presence
            = @article.union.id
    .agent
      .agent-box.sortable{ "data-url": sortable_article_agents_path(@article) }
        - @agents.each do |agent|
          = render_agent(@article, agent)
.container-bottom
