/* Show */

.container-top
  = breadcrumbs(publication_articles_path(@article.publication.slug))
  .primary-actions
    .primary-actions-box
      .primary-actions-item
        = link_to "toggle", "#", class: "altai-off toggle-btn", class: "altai-off toggle-btn button extra-large orange"
      .primary-actions-item
        = link_to "Preview", preview_article_path(@article), class: "button extra-large blue"
      .primary-actions-item
        = link_to "Text", new_article_text_path(@article), class: "button extra-large purple"
      .primary-actions-item
        = link_to "Image", new_article_picture_path(@article), class: "button extra-large purple"
.container-middle.altai-center
  .board-large.altai-center
    .content
      .content-box
        .content-item
          %h1= @article.title
    .agent
      .agent-box.sortable{ "data-url": sortable_article_agents_path(@article) }
        - @agents.each do |agent|
          = render_agent(@article, agent)
.container-bottom
