/* Show */

.container-top
  = breadcrumbs(publication_articles_path(@article.publication.slug))
  .primary-actions
    .primary-actions-box
      .primary-actions-item
        = link_to "Text", new_article_text_path(@article), class: "button extra-large purple"
      .primary-actions-item
        = link_to "Image", new_article_picture_path(@article), class: "button extra-large purple"
.container-middle.altai-center
  .board-large.altai-center
    .content
      .content-box
        .content-item
          %h1= @article.title
    .agent
      .agent-box
        - @agents.each do |agent|
          .agent-item
            = render_agent(@article, agent)
.container-bottom
