/* Show */

.container-top
  = breadcrumbs(journal_sections_path(@section.journal.slug))
.container-middle.center-h
  .board-double-extra-small
    = render "aside_navigation", section: @section
  .board-medium
    .content
      .content-box
        .content-item
          %h3.lighter= @section.title
    - if @agents.presence
      .agent
        .agent-box.sortable{ "data-url": sortable_section_agents_path(@section) }
          - @assets.each do |asset|
            = render_agent(@section, asset)
    - else
      = blankslate
.container-bottom
  = danger_zone("Section", journal_section_path(@journal, @section))
