/* Show */

.container-top
  .wrap.wide
    = breadcrumbs(publication_sections_path(@section.publication.slug))
  .wrap.wide
    .content
      .content-box
        .content-item
          %h2.lighter section
.container-middle.altai-center
  .board-double-extra-small
    = render "aside_navigation", section: @section
  .board-medium
    .content
      .content-box
        .content-item
          %h1.lighter= @section.title
    .agent
      .agent-box.sortable{ "data-url": sortable_section_agents_path(@section) }
        - @agents.each do |agent|
          = render_agent(@section, agent)
.container-bottom
  .content
    .content-box
      .content-item.altai-center
        = danger_zone("Section", section_path(@section))
