/* Form */

= form_with model: [parent, picture], local: true do |form|
  %fieldset
    = errors(picture)
    .form-row
      .field
        = form.label :label
        .input
          = form.text_field :label
    .form-row
      .field
        = form.label :image
        .file
          = form.file_field :upload, id: "upload"
          = form.label :upload, for: "upload", class: "button extra-large blue wide"
    .form-row
      .field
        = form.label :caption
        .input
          = form.text_field :caption
    = submit_button(form, "Save")
