/* Show */

.container-top
  = breadcrumbs(journal_path(@journal))
  // .primary-actions
  //   .primary-actions-box
  //     .primary-actions-item
  //       = link_to "Table of Contents", toc_journal_path(@journal), class: "button extra-large blue"
.container-middle
  .board-large.center-h
    // Content Block
    .content
      .content-box
        .content-item
          %h1= @journal.title
        - if @journal.description.presence
          .content-item
            %p= @journal.description
        - if @journal.cover.presence
          .content-item
            = image_tag url_for(@journal.cover), class: "center-h"

    // Preview Block
    - if @articles.presence
      .separator.small
      .preview
        .preview-box.sortable
          - @articles.each do |article|
            .preview-item
              %h3{ id: "#{article.slug}" }= article.title
              = @article_agents

    // Preview Block
    - if @sections.presence
      .separator.small
      .preview
        .preview-box.sortable
          - @sections.each do |section|
            .preview-item
              %h3{ id: "#{section.slug}" }= section.title
.container-bottom
