/* Picture */

- if picture.presence
  .agent-item{ id: "agent_#{agent.id}" }
    .agent-top
      = link_to "#", class: "altai-off link medium handle" do
        Sort
      %p.right.right.auto
        %strong Type:
        Picture
    .agent-middle.toggle
      %figure.left.altai-center
        = image_tag picture.upload.representation(resize_to_limit: [ 960, 540 ])
        %figcaption
          - if caption = picture.try(:caption)
            %span= caption
          - else
            %span= picture.upload.filename
            %span= number_to_human_size picture.upload.byte_size
    .agent-bottom
      .secondary-actions
        .secondary-actions-box
          .secondary-actions-item
            = link_to article_picture_path(parent, picture), method: :delete, data: { confirm: "Are you sure?" }, class: "link small red hover-underline" do
              Destroy
          .secondary-actions-item
            = link_to edit_article_picture_path(parent, picture), class: "button small yellow" do
              Edit Agent
