/* Text */

- if act.presence
  .agent-item{ id: "agent_#{agent.id}" }
    .agent-top
      = link_to "#", class: "altai-off link medium handle" do
        Sort
      %p.right.right.auto
        %strong Type:
        Text
    .agent-middle.toggle
      = act.try(:rich_text_body)
    .agent-bottom
      .secondary-actions
        .secondary-actions-box
          .secondary-actions-item
            = link_to article_text_path(parent, act), method: :delete, data: { confirm: "Are you sure?" }, class: "link small red hover-underline" do
              Destroy
          .secondary-actions-item
            = link_to "Edit Agent", edit_article_text_path(parent, act), class: "button small yellow"
