/* Text */

- if asset.presence
  .agent-item{ id: "agent_#{asset.agent.id}" }
    .agent-top
      = link_to "#", class: "altai-off link medium handle" do
        Sort
      %p.right.right.auto
        %strong Type:
        Text
    .agent-middle.toggle
      = asset.try(:body)
    .agent-bottom
      .secondary-actions
        .secondary-actions-box
          .secondary-actions-item
            = link_to article_piece_path(@article, asset), method: :delete, data: { confirm: "Are you sure?" }, class: "link small red hover-underline" do
              Destroy
          .secondary-actions-item
            = link_to "Edit Asset", edit_article_piece_path(@article, asset), class: "button small yellow"
