/* Form */
= @publication
= form_with model: [parent, text], local: true do |form|
  = errors(text)
  %fieldset
    .form-row
      %legend Text
    .form-row
      .field
        = form.label :body
        .textarea
          = form.rich_text_area :body
    = submit_button(form, "Save")
